body {
    background: #202124;
    color: white;
}
li {
    list-style: none;
    padding: 1em;    
}
li a {
    text-decoration: none;
    color: white;
}
nav {
    display: flex;
    justify-content: space-between;
}
nav ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}
.left-list a {
    color: #bdc1c6;
}
nav li:hover {
    text-decoration: underline;
}