/* basic styling */
body {
    background: #202124;
    color: white;
}
li {
    list-style: none;
    padding: 1em;    
}
li a {
    text-decoration: none;
    color: white;
}

/* nav starts here */
nav {
    display: flex;
    justify-content: space-between;
}
nav ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}
.left-list a {
    color: #bdc1c6;
}
nav li:hover {
    text-decoration: underline;
}

/* main content */
main {
    display: flex;
    flex-direction: column;
}
.logo {
    display: flex;
    justify-content: center;
}
.logo h1 {
    font-size: 10vh;
    font-family: 'Roboto', sans-serif;
}
.search-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
form {
    display: flex;
    justify-content: center;
    width: 100%;
}
.buttons {
    display: flex;
    justify-content: center;
    padding: 2em;
    gap: 10px;
    /* border: 2px solid red; */
}
.search-bar {
    
}

/* stlying for main content */
input {
    border-radius: 16px;
    border: none;
}
button {
    border-radius: 4px;
    padding: 0.6em;
    background: rgba(68,62,68,0.5);
    color: white;
    border: none;
}
button:hover {
    outline: 1px solid #bdc1c6;
}

/* Footer here */
footer ul {
    background: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 26em;
}
.footer-left {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.footer-middle {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.footer-right {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
