/* basic styling */
body {
    background: #202124;
    color: white;
}
li {
    list-style: none;
    padding: 1em;    
}
li a {
    text-decoration: none;
    color: white;
}

/* nav starts here */
nav {
    display: flex;
    justify-content: space-between;
}
nav ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}
.left-list a {
    color: #bdc1c6;
}
nav li:hover {
    text-decoration: underline;
}

/* main content */
main {
    display: flex;
    flex-direction: column;
}
.logo {
    display: flex;
    justify-content: center;
}
.logo h1 {
    font-size: 10vh;
    font-family: 'Roboto', sans-serif;
}
.search-container {
    display: flex;
    flex-direction: column;
}
.search-container form {
    position: relative;
}
.search-container form #magnify {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 1.5em;
}
.search-container form #camera {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    font-size: 1.5em;
}
.search-container form #microphone {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
    font-size: 1.5em;
}
.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

/* stlying for main content */
input {
    border-radius: 16px;
    border: 1px solid #bdc1c6;
    background: #202124;
    color: white;
    height: 2.8em;
    width: 40em;
}
button {
    border-radius: 4px;
    padding: 0.6em;
    background: rgba(68,62,68,0.5);
    color: white;
    border: none;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}
button:hover {
    outline: 1px solid #bdc1c6;
}
#search {
    padding-left: 40px;
}
#search:hover {
    background: #bdc1c652;
}

/* Footer here */
footer ul {
    background: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 13.9em;
}
.footer-left {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.footer-middle {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.footer-right {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
